.left{
    float: left;
    width:100px;
    height: 200px;
    background-color: blue;
    border: 1px solid black;
}
.other{
    float: left;
    width: 150px;
    height: 150px;
    background-color: red;
    border: 1px solid black;
}
#rela{
    position: absolute;
    left: 30px;
    top: 30px;
}